<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">

      <ul class="unstyled inline">
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=fork&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=jazzido&repo=tabula&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
      </ul>
      <div class="hero-unit" style="padding-left:50px;">
        <img src="/img/logo.png" class="big-retina-illustration pull-left" style="margin:10px 10px 0 0; width:70px;">
        <h1>Tabula </h1>
        <p>Liberate data tables trapped inside PDF files</p>
      </div> <!-- /hero-unit -->

      <div class="alert alert-warning alert-dismissable" id="update-alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>New version!</strong> <a href="">Tabula <span id="new-version">version</span></a> is available (you have <span id="installed-version"><%= $TABULA_VERSION %></span>)
      </div>

      <div class="alert alert-warning alert-dismissable" id="custom-alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>New version!</strong> <span class="custom-alert-body"></span>
      </div>

      <div id="demo">

        <div class="row-fluid">
          <div class="span6">
            <div class="page-header">
              <h4>Upload a PDF</h4>
            </div>
            <form action="/upload" enctype="multipart/form-data" method="post">
              <input type="checkbox" name="autodetect-tables" id="autodetect-tables">
              <label for="autodetect-tables" style="display: inline;">Auto-Detect Tables</label>
              <div id="autodetect-explainer" class="explanation-label">Table auto-detection can be time-consuming, especially for large PDFs.</div>
              <input name="file" type="file" id="file" accept="application/pdf">
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div>

          <div class="span6">
            <div class="page-header">
              <h4>Uploaded files</h4>
            </div>
            <% if workspace.size > 0 %>
            <ul id="uploadedfiles">
              <% workspace.each do |e| %>
              <li><a href="/pdf/<%= e['id'] %>"><%= e['file'] %></a> <span>(<%= Time.at(e['time']).strftime('%Y-%m-%d %H:%M') %>)</span><button class="icon-remove"></button></li>
              <% end %>
            </ul>
            <% else %>
            <p>No uploaded files yet.</p>
            <% end %>
          </div>
        </div>
      </div>
      <script type="text/javascript"> 
          var TABULA_VERSION = '<%= $TABULA_VERSION %>';
      </script>
      <script type="text/javascript" src="/js/file-library.js"></script>
      <script type="text/javascript" src="/js/update-notifications.js"></script>

      <br><br><hr>
      <p><strong>Tabula</strong> was created by <a href="http://jazzido.com/" target="_blank">Manuel Aristarán</a> with the help of <a href="http://propublica.org">ProPublica</a>, <a href="http://blogs.lanacion.com.ar/data/">La Nación DATA</a> and <a href="http://www.mozillaopennews.org/">Knight-Mozilla OpenNews</a></p>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome to Tabula!</h3>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet…</p>
    <p><input type="checkbox" name="update_notifications">Would you like to be notified when there's a new release available?</p>
  </div>
  <div class="modal-footer" style="position: relative">
  </div>
</div>
